<a href="https://colab.research.google.com/github/Imwo/training/blob/main/Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
data = pd.Series(["Январь","Февраль","Март","Апрель"],)
display(data)

0     Январь
1    Февраль
2       Март
3     Апрель
dtype: object

In [ ]:
import pandas as pd
data = pd.Series(["Январь","Февраль","Март","Апрель"],
                 index = ['Первый','Второй','Третий','Четвертый'])
display(data)

Первый        Январь
Второй       Февраль
Третий          Март
Четвертый     Апрель
dtype: object

In [ ]:
data.loc['Первый']

'Январь'

In [ ]:
data.loc[['Первый','Второй']]

Первый     Январь
Второй    Февраль
dtype: object

In [ ]:
data[['Первый','Второй']]

Первый     Январь
Второй    Февраль
dtype: object

In [ ]:
data.iloc[0]
data.iloc[[2,3]]

Третий         Март
Четвертый    Апрель
dtype: object

In [ ]:
import pandas as pd
df = pd.DataFrame({'col1':[1,2], 'col2':[3,4]})
display(df)

   col1  col2
0     1     3
1     2     4

In [ ]:
import pandas as pd
df= pd.DataFrame([[1,2,3],[2,3,4]],
                 columns = ['foo','baa','bar'], 
                 index=['a', 'b'])
display(df)

   foo  baa  bar
a    1    2    3
b    2    3    4

Как считывать файл

In [ ]:
pd.read_csv('Полный путь к файлу/название файла.csv')

In [ ]:
import pandas as pd

from google.colab import files

uploaded = files.upload()

football = pd.read_csv ('football.csv' )

print(football)

Saving football.csv to football.csv
       Unnamed: 0                Name  ...  GKPositioning GKReflexes
0               0            L. Messi  ...             14          8
1               1   Cristiano Ronaldo  ...             14         11
2               2           Neymar Jr  ...             15         11
3               3              De Gea  ...             88         94
4               4        K. De Bruyne  ...             10         13
...           ...                 ...  ...            ...        ...
12892       13121        J. Lundstram  ...              8          9
12893       13122  N. Christoffersson  ...              5         12
12894       13123           B. Worman  ...              6         13
12895       13124      D. Walker-Rice  ...              8          9
12896       13125           G. Nugent  ...             12          9

[12897 rows x 42 columns]

In [ ]:
display(football.head())

   Unnamed: 0               Name  Age  ... GKKicking GKPositioning  GKReflexes
0           0           L. Messi   31  ...        15            14           8
1           1  Cristiano Ronaldo   33  ...        15            14          11
2           2          Neymar Jr   26  ...        15            15          11
3           3             De Gea   27  ...        87            88          94
4           4       K. De Bruyne   27  ...         5            10          13

[5 rows x 42 columns]

In [ ]:
display(football.tail(7))

NameError: ignored

In [ ]:
display(football.describe())

         Unnamed: 0           Age  ...  GKPositioning    GKReflexes
count  12897.000000  12897.000000  ...   12897.000000  12897.000000
mean    6605.040862     24.795379  ...      16.950221     17.315965
std     3782.545526      4.872212  ...      17.369297     18.335817
min        0.000000     16.000000  ...       1.000000      1.000000
25%     3357.000000     21.000000  ...       8.000000      8.000000
50%     6622.000000     24.000000  ...      11.000000     11.000000
75%     9876.000000     28.000000  ...      14.000000     14.000000
max    13125.000000     45.000000  ...      90.000000     94.000000

[8 rows x 38 columns]

In [ ]:
football.min()

Unnamed: 0                            0
Name                           A. Abang
Age                                  16
Nationality                 Afghanistan
Club                SSV Jahn Regensburg
Value                                 0
Wage                               1000
Position                            CAM
Crossing                              5
Finishing                             2
HeadingAccuracy                       4
ShortPassing                          7
Volleys                               4
Dribbling                             4
Curve                                 6
FKAccuracy                            3
LongPassing                           9
BallControl                           5
Acceleration                         12
SprintSpeed                          12
Agility                              15
Reactions                            21
Balance                              16
ShotPower                             2
Jumping                              15
Stamina                              12
Strength                             17
LongShots                             3
Aggression                           11
Interceptions                         3
Positioning                           2
Vision                               10
Penalties                             5
Composure                            12
Marking                               3
StandingTackle                        2
SlidingTackle                         3
GKDiving                              1
GKHandling                            1
GKKicking                             1
GKPositioning                         1
GKReflexes                            1
dtype: object

In [ ]:
football.max()

Unnamed: 0                 13125
Name               Óscar Whalley
Age                           45
Nationality             Zimbabwe
Club               Śląsk Wrocław
Value                  118500000
Wage                      565000
Position                      ST
Crossing                      93
Finishing                     95
HeadingAccuracy               94
ShortPassing                  93
Volleys                       90
Dribbling                     97
Curve                         93
FKAccuracy                    94
LongPassing                   93
BallControl                   96
Acceleration                  97
SprintSpeed                   96
Agility                       96
Reactions                     96
Balance                       96
ShotPower                     95
Jumping                       95
Stamina                       96
Strength                      97
LongShots                     94
Aggression                    95
Interceptions                 92
Positioning                   95
Vision                        94
Penalties                     91
Composure                     96
Marking                       93
StandingTackle                93
SlidingTackle                 91
GKDiving                      90
GKHandling                    92
GKKicking                     91
GKPositioning                 90
GKReflexes                    94
dtype: object

In [ ]:
football.Age

0        31
1        33
2        26
3        27
4        27
         ..
12892    19
12893    19
12894    16
12895    17
12896    16
Name: Age, Length: 12897, dtype: int64

In [ ]:
football.Age.max()

45

In [ ]:
football['Age'].min()

16

In [ ]:
football[football.Age<20]

       Unnamed: 0                Name  ...  GKPositioning GKReflexes
25             25           K. Mbappé  ...             11          6
188           188          M. de Ligt  ...             12         10
191           191       G. Donnarumma  ...             78         88
285           285          K. Havertz  ...             10         12
360           363          C. Pulisic  ...             16         14
...           ...                 ...  ...            ...        ...
12892       13121        J. Lundstram  ...              8          9
12893       13122  N. Christoffersson  ...              5         12
12894       13123           B. Worman  ...              6         13
12895       13124      D. Walker-Rice  ...              8          9
12896       13125           G. Nugent  ...             12          9

[1883 rows x 42 columns]

In [ ]:
football[football.Age< football.Age.mean()]

       Unnamed: 0                Name  ...  GKPositioning GKReflexes
15             15           P. Dybala  ...              5          8
16             16             H. Kane  ...             14         11
25             25           K. Mbappé  ...             11          6
42             42           S. Umtiti  ...             12         15
55             55             L. Sané  ...              9         14
...           ...                 ...  ...            ...        ...
12892       13121        J. Lundstram  ...              8          9
12893       13122  N. Christoffersson  ...              5         12
12894       13123           B. Worman  ...              6         13
12895       13124      D. Walker-Rice  ...              8          9
12896       13125           G. Nugent  ...             12          9

[6706 rows x 42 columns]

In [ ]:
football[(football.Age< football.Age.mean())&
         (football.Club == "FC Barcelona")]

      Unnamed: 0           Name  Age  ... GKKicking GKPositioning  GKReflexes
42            42      S. Umtiti   24  ...        14            12          15
141          141     O. Dembélé   21  ...        14            10          13
190          190         Arthur   21  ...        13            11          12
195          195     C. Lenglet   23  ...         9            12           7
235          235  Nélson Semedo   24  ...        10            14          12
1464        1515          Aleñá   20  ...        10             8          12
5377        5539          Chumi   19  ...         9            11          14
5613        5777   Jorge Cuenca   18  ...         5            14          12
6124        6293  Guillem Jaime   19  ...        12            10           6
7312        7493        Ezkieta   21  ...        59            59          64
9028        9226     Iñaki Peña   19  ...        64            57          62

[11 rows x 42 columns]

In [ ]:
len(football[(football.Club == "Manchester United")].Nationality.unique())

13

In [ ]:
football[(football.Age< football.Age.mean())&
         (football.Club == "FC Barcelona")].Wage.mean()

77454.54545454546

**Я пропустила группировку данных, так что впоследствии ее надо будет изучить подробнее!**

In [ ]:
s = football['Nationality'].value_counts()
display(s)

England                 1368
Germany                  919
Spain                    671
France                   614
Argentina                574
                        ...
Malta                      1
Jordan                     1
Guam                       1
Central African Rep.       1
Lebanon                    1
Name: Nationality, Length: 156, dtype: int64

In [ ]:
football.Club.count()

12897

In [ ]:
s.index

Index(['England', 'Germany', 'Spain', 'France', 'Argentina', 'Italy',
       'Colombia', 'Japan', 'Brazil', 'China PR',
       ...
       'Belize', 'St Lucia', 'Andorra', 'Philippines', 'Mauritius', 'Malta',
       'Jordan', 'Guam', 'Central African Rep.', 'Lebanon'],
      dtype='object', length=156)

In [ ]:
s.index[0]

'England'

In [ ]:
len(s.index)

156

Более простой вариант

In [ ]:
football.Nationality.unique()

array(['Argentina', 'Portugal', 'Brazil', 'Spain', 'Belgium', 'Croatia',
       'Uruguay', 'Slovenia', 'Poland', 'Germany', 'France', 'England',
       'Italy', 'Egypt', 'Colombia', 'Denmark', 'Gabon', 'Wales',
       'Senegal', 'Costa Rica', 'Slovakia', 'Netherlands',
       'Bosnia Herzegovina', 'Morocco', 'Serbia', 'Algeria', 'Austria',
       'Greece', 'Chile', 'Sweden', 'Korea Republic', 'Finland', 'Guinea',
       'Montenegro', 'Switzerland', 'Norway', 'DR Congo', 'Ukraine',
       'Mexico', 'Czech Republic', 'Ivory Coast', 'Albania', 'Turkey',
       'Ghana', 'Ecuador', 'Mali', 'Nigeria', 'Dominican Republic',
       'Japan', 'Cameroon', 'Republic of Ireland', 'Romania',
       'United States', 'Russia', 'Hungary', 'Iceland', 'Zimbabwe',
       'Togo', 'Angola', 'Burkina Faso', 'Peru', 'Scotland', 'Venezuela',
       'Estonia', 'Tunisia', 'Israel', 'Equatorial Guinea', 'New Zealand',
       'FYR Macedonia', 'Paraguay', 'China PR', 'Kosovo', 'Tanzania',
       'Iran', 'Uzbekistan', 'South Africa', 'Australia', 'Congo',
       'Jamaica', 'Mozambique', 'Cape Verde', 'Northern Ireland', 'Syria',
       'Cyprus', 'Moldova', 'Canada', 'Trinidad & Tobago', 'Bulgaria',
       'Georgia', 'Saudi Arabia', 'Armenia', 'Guinea Bissau', 'Haiti',
       'Comoros', 'Eritrea', 'Oman', 'Iraq', 'Latvia', 'Panama',
       'Bolivia', 'Madagascar', 'Belarus', 'Honduras', 'Thailand',
       'Mauritius', 'Gambia', 'Guatemala', 'Central African Rep.',
       'Zambia', 'Curacao', 'Niger', 'Mauritania', 'Suriname', 'Benin',
       'Luxembourg', 'Kenya', 'Montserrat', 'Namibia', 'Azerbaijan',
       'Guam', 'Libya', 'Faroe Islands', 'Nicaragua', 'Sierra Leone',
       'Kazakhstan', 'Lithuania', 'Barbados', 'Lebanon', 'Liechtenstein',
       'Palestine', 'Guyana', 'Korea DPR', 'El Salvador', 'Cuba', 'Sudan',
       'Burundi', 'St Lucia', 'Ethiopia', 'Uganda', 'Puerto Rico',
       'Grenada', 'Antigua & Barbuda', 'Jordan', 'Rwanda', 'Bermuda',
       'Qatar', 'Afghanistan', 'Hong Kong', 'Andorra', 'Malta', 'Belize',
       'South Sudan', 'St Kitts Nevis', 'Philippines', 'Indonesia',
       'Botswana'], dtype=object)

In [ ]:
len(football.Nationality.unique())

156

In [ ]:
football.Nationality.nunique()

156

In [ ]:
s['Germany']

919

In [ ]:
s.loc[s>30]

England                1368
Germany                 919
Spain                   671
France                  614
Argentina               574
Italy                   469
Colombia                445
Japan                   425
Brazil                  423
China PR                349
Republic of Ireland     332
Saudi Arabia            324
Sweden                  319
Netherlands             309
Chile                   296
Poland                  296
Korea Republic          290
Norway                  283
Mexico                  276
Denmark                 275
United States           271
Austria                 240
Scotland                221
Turkey                  215
Australia               206
Belgium                 164
Portugal                159
Switzerland             156
Wales                   102
Uruguay                  83
Senegal                  78
Serbia                   73
Croatia                  72
Ghana                    68
Nigeria                  66
Northern Ireland         65
Greece                   57
Czech Republic           56
Cameroon                 55
Finland                  54
Canada                   52
Ivory Coast              50
Morocco                  41
South Africa             37
Algeria                  37
Bosnia Herzegovina       37
Slovakia                 37
Russia                   36
Venezuela                36
Ukraine                  35
Slovenia                 33
Paraguay                 32
Name: Nationality, dtype: int64

In [ ]:
s = football['Age'].value_counts()
display(s)

21    1060
20     989
22     972
19     907
24     902
23     900
25     854
26     850
27     759
28     720
18     665
29     656
30     549
31     441
32     379
34     281
33     271
17     269
35     158
36     123
37      70
16      42
38      35
39      24
40      13
41       4
44       2
42       1
45       1
Name: Age, dtype: int64

In [ ]:
s = football['Wage'].value_counts()
display(s)

1000      4601
2000      2652
3000      1596
4000       929
5000       566
          ...
250000       1
185000       1
87000        1
300000       1
265000       1
Name: Wage, Length: 142, dtype: int64

In [ ]:
s = football['Wage'].value_counts(bins=4)
display(s)

(435.999, 142000.0]     12818
(142000.0, 283000.0]       61
(283000.0, 424000.0]       16
(424000.0, 565000.0]        2
Name: Wage, dtype: int64

In [ ]:
football.loc[(football.Wage> s.index[3].left)]

   Unnamed: 0       Name  Age  ... GKKicking GKPositioning  GKReflexes
0           0   L. Messi   31  ...        15            14           8
7           7  L. Suárez   31  ...        31            33          37

[2 rows x 42 columns]

In [ ]:
football.loc[(football.Wage> s.index[2].left)&(football.Wage<= s.index[2].right)]

    Unnamed: 0               Name  Age  ... GKKicking GKPositioning  GKReflexes
1            1  Cristiano Ronaldo   33  ...        15            14          11
2            2          Neymar Jr   26  ...        15            15          11
4            4       K. De Bruyne   27  ...         5            10          13
5            5          E. Hazard   27  ...         6             8           8
6            6          L. Modrić   32  ...         7            14           9
8            8       Sergio Ramos   32  ...         9             7          11
11          11           T. Kroos   28  ...        13             7          10
13          13        David Silva   32  ...         7             6          12
20          20    Sergio Busquets   29  ...        13             9          13
23          23          S. Agüero   30  ...         6            11          14
27          27           Casemiro   26  ...        16            12          12
28          28       J. Rodríguez   26  ...        15             5          14
30          30               Isco   26  ...        12            15           6
32          32           Coutinho   26  ...         9            14           6
35          35            Marcelo   30  ...         5             5           9
36          36            G. Bale   28  ...        11             5           6

[16 rows x 42 columns]

In [ ]:
football.groupby(['Club']).groups

TypeError: ignored